.list-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 100px auto 1fr;
}

.list {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.one-profile-display {
  max-width: 100%;
  display: flex;
  margin: 10px 0;
  height: 100px;
}

.one-profile-display-canvas canvas {
  width: 60px;
  border: solid black 2px;
  margin-right: 20px;
}

.profile-name-display a {
  font-family: 'Libre Caslon Text', serif;
  text-decoration: none !important;
  color: black;
}

.profile-name-display a:hover {
  color: maroon;
}
